<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cong.mm">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--通过html调用本地app协议-->
                <!--<a href="m://my.com/?arg0=0&arg1=1">打开app</a><br/>-->
                <data
                    android:host="hybrid.app.com"
                    android:scheme="hybrid" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="详情页"></activity>
        <activity
            android:name=".ShareActivity"
            android:label="分享页"></activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
